body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* normalize */
html, body, .App, #root {
  height: 100%;
}
.container {
  margin: 0;
  max-width: 100% !important;
}

/* Common styles */
.page {
  height: 100%;
  padding: 4rem 2rem 1rem 12rem !important;
}
.v-center {
  display: flex;
  align-items: center;
}
.clickable {
  cursor: pointer;
}